section[GroupMembers] {
    background-color: var(--block-bg-color);
    padding: 10px;
    border-radius: 7px;
}

section[GroupMembers] button[type="add"] {
    margin-right: 20px;
}

section[GroupMembers] button {
    margin-bottom: 10px;
}

.group-members-modal {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 100%;
}

.group-members-modal > .k-dropdown {
    height: 37px;
}