interface[task]{
    display: grid;
    height: 100%;
    grid-auto-flow: column dense;
    /* grid-template-columns: auto auto 1fr; */
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    gap: 10px;
    overflow: hidden;
}

/* ----------------------------------------------
    TaskCase INTERFACE 
*/
interface[TaskCase]{
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: min-content;
    order: 3;
    gap: 10px;
    margin: 9px 9px 9px 9px;
    overflow: auto;
}


interface[TaskCase] div[fieldset]{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: row dense;
    box-shadow: 4px 0px 6px 0px #0000001f;
}

interface[TaskCase] div[fieldset] field > input {
    width: -webkit-fill-available;
    /* width: 180px; */
}

interface[TaskCase] div[fieldset] .k-datepicker, interface[TaskCase] div[fieldset] .k-timepicker {
    width: unset;
}

interface[TaskCase] div[fieldset] .k-dropdown, interface[TaskCase] div[fieldset] .k-dropdowntree{
    width: unset;
}



/* TAB  STYLEING*/

tab[fieldset] {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

tab[fieldset] > item {
    font-size: 12px;
    font-family: 'BPG2';
    padding: 3px 0;
}

tab[fieldset] > item:hover{
    cursor: pointer;
}

tab[fieldset] > item[actived]{
    border-bottom: 2px solid #777777;
}

tabcontent {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: row dense;
    row-gap: 20px;
}

tab[task]{
    display: flex;
    background-color: var(--block-bg-color);
    border-radius: 7px;
    height: 60px;
    padding:14px;
    box-sizing: border-box;
    gap: 25px;
    box-shadow: 4px 0px 6px 0px #0000001f;
}

tab[task] > item {
    --stroke: var(--sky);
    --fill: var(--sky);
    display: flex;
    padding: 8px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'BPG';
    border-radius: 35px;
    gap: 13px
}

tab[task] > item:not([actived=true]){
    background-color: var(--dashboard-bg-color);
    border-radius: 100%;
}

@keyframes slide {
    0% {
      transform: translateX(15%);

      opacity: 100%;
    }
    100% {
      transform: translateX(0);
    }
}  

tab[task] > item:hover{
    cursor: pointer;
}

tab[task] > item[actived=true] {
    background-color: var(--sky);
    --stroke: #fff;
    --fill: #fff;
    color: #fff;
    animation-duration: 0.5s;
    animation-name: slide;
}
tab[task] > item[actived=true] svg {
    margin-left: 5px;

}
tab[task] > item > span {
    /* transition: all 2s linear; */
    margin-right: 5px;
}

.delbtn {
    background: #FD0A50;
}