interface[TaskCase] div[class="historyTab"] field > input {
    width: 210px;
}

.commentsSect{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -30px;
    margin-bottom: 10px;
}

.commentsSect *{
    font-family: 'BPG2';
    margin-top: 1px;
}

.commentsSect comment{
    padding: 8px 20px;
    border-radius: 5px;
    background-color: rgba(30, 136, 229, 0.25);
    font-size: 12px;
}

.commentsSect .commentsheaddiv{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.commentsSect .textarea{
    display: flex;
    gap: 10px;
    align-items: center;
}

.commentsSect .textarea div{
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.commentsSect .replaybtn{
    width: 140px;
    display: flex;
    justify-content: center;
}

.commentsSect .replaybtn a{
    font-size: 10px;
    color: #1E88E5;
    cursor: pointer;
}

.commentsSect commentchild{
    margin-left: 50px;
}

audio::-webkit-media-controls-panel{
    border-radius: 1px;
    background-color: #1E88E5;
}

audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button,
audio::-webkit-media-controls-timeline{
    color: white;
    
}


audio::-webkit-media-controls-play-button{
    background-color: #fff;
    color: #1E88E5;
    border-radius: 15px;
}

taskTabs{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--block-bg-color);
    padding: 3px 20px 0px 20px;
    border-radius: 7px;
    gap: 30px;
    align-items: center;
}

tasktabs > tab{
    color: #A1ACB3;
    font-family: 'BPG';
    font-size: 12px;
    line-height: 50px;
    transition: 0.3s;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

interface[workground] > div[fieldset] >  tabcontent > taskTabs {
    margin-top: -9px;
}

interface[workground] > div[fieldset] > tabcontent > tasktabs > tab {
    line-height: 26px;
}

tasktabs > tab:hover{
    color: #1E88E5;
}

tasktabs >  .active{
    color: #1E88E5;
    border-bottom: 2px solid #1E88E5;
}

div[fieldset] {
    padding: 46px 10px 10px;
}


interface[incomming] > interface[workground] > div[fieldset] > tabcontent > taskTabs {
    padding: 0;
    gap: 20px;
}

interface[workground] > div[fieldset] .k-grid.k-grid-display-block {
    max-width: calc(100vw - 302px);
}