section[Undone] {
    background-color: var(--block-bg-color);
    padding: 10px;
    border-radius: 7px;
    min-width: 200px;
}

undoneReport {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.undoneReport-div {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}